<template>
  <div class="container">
     <div class="row">
         <div class="col-md-12">
            <div class="card">
            <div class="card-header">
              <h2 class="card-title">Variants</h2>
              <button class="btn btn-primary btn-md " @click="newModal()" style="float: right;">Create Variants<i class="fas fa-shopping-cart fa-fw" ></i></button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row"><div class="col-sm-12"><table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Sku</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                 <tr v-for="variant in variants" :key="variant.id">
                      <td>{{ variant.id }}</td>
                      <td>{{ variant.name }}</td>
                      <td>{{ variant.sku }}</td>
                      <td>
                          <a href="#" @click="editVariantModel(variant)"><button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button></a>
                          <a href="#" @click="deleteVariants(variants.id)"><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></a>
                      </td>     
                  </tr>
              </tbody>
              </table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
            </div>
            <!-- /.card-body -->
      </div>
         </div>
          <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
        <h3 class="modal-title" id="exampleModalLabel">variants Form</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="alert alert-danger" role="alert" v-if="errors.length">
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
      </div>
      <form @submit.prevent="myForm()" action="http://localhost:8000/variant/create" method="post">
      <div class="modal-body">
            <div class="form-variants">
              <input v-model="form.name" type="text" name="name" placeholder=" name"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                  <has-error :form="form" field="name"></has-error>
            </div>
            <div class="form-variants">
              <input v-model="form.sku" type="text" name="sku" placeholder=" sku"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('sku') }">
                  <has-error :form="form" field="sku"></has-error>
            </div>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button  @click=" updateVariant(variants)" type="submit" class="btn btn-success">Update</button>
            <button  @click=" createVariant()" type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>


     </div>
  </div>
</template>

<script>
  export default {
    data() {
            return {
               errors: [],
                variants:{},
                form: new form({
                  id :'',
                  name:'',
                  sku:''
                })
            }
        },
        methods: {
          myForm() {
                if (!this.form.name) {
                  this.errors.push("name required.");
                } 
                if (!this.errors.length) {
                  return true;
                }
            },
          newModal(){
             this.form.reset();
             $('#exampleModal').modal('show');
          },
          updateVariant(variants){
                 this.form.post('/variant/update/'+this.form.id)
               .then(()=>{

                    Fire.$emit('AfterCreatedUserLoadIt');

                    $('#exampleModal').modal('hide');
               })
               .catch(()=>{
                  console.log("Error.....")
               })
            },
           editVariantModel(variants){
                $('#exampleModal').modal('show');
                this.form.fill(variants);
            },
          
           read() {
                axios.get('/variant').then(({ data }) => {
                    //console.log(data)
                    this.variants= data;

                })
                    .catch((err) => console.error(err));
            },
            createVariant(){
                this.form.post('/variant/create')
                .then(()=>{
                    $('#exampleModal').modal('hide');
                })
               
            },
            deleteVariants(id){
                 axios.delete('/variant/delete/'+id).then(()=>{
                    Fire.$emit('AfterCreate');
                }).catch(()=> {
  
                });
            }
        },
        mounted() {
            this.read();
        }
  }

</script>