<template>
  <div class="container">
     <div class="row">
         <div class="col-md-12">
            <div class="card">
            <div class="card-header">
              <h2 class="card-title">Product</h2>
              <button class="btn btn-primary btn-md " @click="newModal()" style="float: right;">Create Product<i class="fas fa-shopping-cart fa-fw" ></i></button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row"><div class="col-sm-12">
              <div style="overflow-x:auto;">
              <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info" ref="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Category_id </th>
                    <th>Brand_id </th>
                    <th>Group_id</th>
                    <th>Branch_id</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                 <tr v-for="product in products" :key="product.id">
                      <td >{{ product.id }}</td>
                      <td>{{ product.name }}</td>
                      <td>{{ product.image }}</td>
                      <td>{{ product.category_id }}</td>
                      <td>{{ product.brand_id }}</td>
                      <td>{{ product.group_id }}</td>
                      <td>{{ product.branch_id }}</td
                      <td>
                          <a href="#" @click="editBrandModel(product)"><button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button></a>
                          <a href="#" @click="deleteBrand(product.id)"><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></a>
                      </td>     
                  </tr>
              </tbody>
              </table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
              </div>
            </div>
            <!-- /.card-body -->
      </div>
         </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div role="document" class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
           <div class="modal-header"> 
                <h3 class="modal-title" id="exampleModalLabel">Product Form</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <div class="alert alert-danger" role="alert" v-if="errors.length">
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <div class="modal-body scroll-modal app-bg-color p-3" style="">
               <form @submit.prevent="createProduct()">
                    <div class="form-row mx-0 mb-3 bg-white rounded p-3">
                        <div class="form-group col-md-12">
                            <label for="product">Name</label>
                            <input  v-model="form.name" type="text" name="name" placeholder=" name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="product-unit">Category</label>
                            <div class="input-group">
                                <select  v-model="form.category_id" class="custom-select" name="category">
                                    <option value="" disabled="disabled" selected="selected">Choose one</option>
                                    <option  v-for='category in categories' :value='category.id'>{{ category.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="product-unit">Brand</label>
                            <div class="input-group">
                                <select   v-model="form.brand_id" class="custom-select" name="brand" >
                                    <option value="" disabled="disabled" selected="selected">Choose one</option>
                                    <option v-model="form.brand_id" v-for='brand in brands' :value='brand.id'>{{ brand.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="product-unit">Group</label>
                            <div class="input-group">
                                <select  v-model="form.group_id"  class="custom-select" name="group">
                                    <option value="" disabled="disabled" selected="selected">Choose one</option>
                                    <option  v-model="form.group_id" v-for='group in groups' :value='group.id'>{{ group.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="product-unit">Variant</label>
                            <div class="input-group">
                                <select  v-model="form.product_variant_id" class="custom-select" name="variant">
                                    <option  value="" disabled="disabled" selected="selected">Choose one</option>
                                    <option  v-for='variant in variants' :value='variant.id'>{{ variant.name }}</option>
                                </select>
                            </div>
                        </div>
                       <div class="form-group col-md-6">
                            <label for="product-unit">Tax</label>
                            <div class="input-group">
                                <select  v-model="form.product_tax_id"  class="custom-select" name="product_tax_id">
                                    <option value="" disabled="disabled" selected="selected">Choose one</option>
                                    <option  v-model="form.product_tax_id" v-for='tax in taxes' :value='tax.id'>{{ tax.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mx-0 mb-3 bg-white rounded p-3">
                        <div class="col-md-6 mb-3">
                            <h5 class="mb-0">Choose Product Type</h5></div>
                                <div class="col-md-6">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input  v-model="form.product_type_id" type="radio" name="product_type_id" id="standard-product"  value="standard" class="custom-control-input">
                                        <label for="standard-product" class="custom-control-label">
                                            Standard product
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input v-model="form.product_type_id" type="radio" name="product_type_id" id="variant-product" value="variant" class="custom-control-input">
                                        <label for="variant-product" class="custom-control-label">
                                            Variant product
                                        </label>
                                    </div>
                               </div>
                        
                       </div>
                    <div class="form-row mx-0 mb-3 bg-white rounded p-3">
                        <div class="col-md-12 mb-3">
                            <h5 class="mb-0">Add Initial Quantity</h5></div>
                            <div class="col-md-12">
                                <div class="custom-control custom-radio custom-control-inline">
                                   <input type="radio" name="adjectivestock" id="adjective-stock-no" v-on:click="isHidden = !isHidden"  class="custom-control-input">
                                    <label for="adjective-stock-no" class="custom-control-label">
                                        yes
                                    </label>

                                </div>
                                <div v-if="!isHidden">
                                   <div class="form-group col-md-6">
                                            <label for="product-unit">Branch</label>
                                            <div class="input-group">
                                                <select  v-model="form.branch_id"  class="custom-select" name="branch">
                                                    <option value="" disabled="disabled" selected="selected">Choose one</option>
                                                    <option  v-model="form.branch_id" v-for='branch in branches' :value='branch.id'>{{ branch.name }}</option>
                                                </select>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                            </div>
                    </div>
                    <div class="form-row mx-0 mb-3 bg-white rounded p-3">
                        <div class="form-group col-md-4">
                            <label>Purchase price</label>
                            <input  v-model="form.purchase_price" name="purchase_price" placeholder=" purchase price"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('product_price_id') }">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Selling price</label>
                             <input v-model="form.sell_price" name="sell_price" placeholder=" purchase price"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('product_price_id') }"
                               >
                            
                        </div>
                      
                        
                    </div>
                    <!---->
                    <div class="form-row mt-3">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary app-color mobile-btn">Save</button>
                            <button data-dismiss="modal" aria-label="Close" class="btn btn-secondary cancel-btn mobile-btn">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

     </div>
  </div>
</template>

<script>
  export default {
    data() {
            return { 
                errors: [],
                isHidden: false,        
                products:{},
                categories:{},
                brands:{},
                branches:{},
                groups:{},
                variants:{},
                taxes:{},
                form: new form({
                  name:'',
                  category_id:'',
                  brand_id:'',               
                  group_id:'',                 
                  branch_id:'',               
                  product_type_id:'',        
                  product_tax_id:'',           
                  product_variant_id:'',
                  purchase_price:'',
                  sell_price:''
                })
            }
        },
        methods: {
            myForm() {
                if (!this.form.category_id) {
                  this.errors.push("category required.");
                } if (!this.form.brand_id) {
                  this.errors.push("brand required.");
                } if (!this.form.group_id) {
                  this.errors.push("group required.");
                } if (!this.form.branch_id) {
                  this.errors.push("branch required.");
                } if (!this.form.product_type_id) {
                  this.errors.push("product type required.");
                } if (!this.form.product_tax_id) {
                  this.errors.push("product tax required.");
                }  if (!this.form.product_variant_id) {
                  this.errors.push("product variant required.");
                } if (!this.form.purchase_price) {
                  this.errors.push("purchase price required.");
                } if (!this.form.sell_price) {
                  this.errors.push("sell_price  required.");
                } 
                if (!this.errors.length) {
                  return true;
                }
            },
            if (product_price_id) {
                this.product_price_id = false;
            },
            newModal(){
             this.form.reset();
             $('#exampleModal').modal('show');
          },
          ProductProduct(products){
                 this.form.post('/product/update/'+this.form.id).then(()=>{
                     Fire.$emit('AfterCreatedUserLoadIt');
                     $('#exampleModal').modal('hide');
               }) .catch(()=>{
                  console.log("Error.....")
               })
            },
           editProductModel(products){
                $('#exampleModal').modal('show');
                this.form.fill(products);
            },
          
           read() {
                axios.get('/product').then(({ data }) => {
                    this.products= data;
                 }),
                axios.get('/category').then(({ data }) => {
                    this.categories= data;
                }),
                axios.get('/brand').then(({ data }) => {
                    this.brands= data;
                }),
                axios.get('/group').then(({ data }) => {
                   this.groups= data;
                }),
                axios.get('/variant').then(({ data }) => {
                    this.variants= data;
                }),
                 axios.get('/branch').then(({ data }) => {
                    this.branches= data;
                })
                 axios.get('/tax').then(({ data }) => {
                    this.taxes= data;
                })
            },
            createProduct(){
                this.form.post('/product/create')
                .then(()=>{
                    $('#exampleModal').modal('hide');
                    this.$refs.table.refresh();
                })
               
            },
            deleteProduct(id){
                 axios.delete('/product/delete/'+id).then(()=>{
                    Fire.$emit('AfterCreate');
                }).catch(()=> {
  
                });
            }
        },
        mounted() {
            this.read();
        }
  }

</script>