<template>
  <div class="container">
     <div class="row">
         <div class="col-md-12">
            <div class="card">
            <div class="card-header">
              <h2 class="card-title">Customer</h2>
              <button class="btn btn-primary btn-md " @click="newModal" style="float: right;">Creeate Customer<i class="fas fa-user-plus fa-fw" ></i></button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row"><div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="example1_length"
              ><label>Show 
              <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row"><div class="col-sm-12">
              <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Company</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="customer in customers" :key="customer.id">
                      <td>{{ customer.id }}</td>
                      <td>{{ customer.first_name }}</td>
                      <td>{{ customer.last_name }}</td>
                      <td>{{ customer.email }}</td>
                      <td>{{ customer.mobile }}</td>
                      <td>{{ customer.address }}</td>
                      <td>{{ customer.company }}</td>
                      <td>
                          <a href="#" @click="editCustomerModel(customer)"><button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button></a>
                          <a href="#" @click="deleteCustomer(customer.id)"><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></a>
                      </td>
                      
                  </tr>
              </tbody>
              </table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
            </div>
            <!-- /.card-body -->
      </div>
         </div>

                <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
        <h3 class="modal-title" id="exampleModalLabel">Customers Form</h3
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="alert alert-danger" role="alert" v-if="errors.length">
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </div>
      <form @submit.prevent="myForm()" action="http://localhost:8000/customer/create" method="post">
       
      <div class="modal-body">
            <div class="form-group">
              <input v-model="form.first_name" type="text" name="firstname" placeholder="Your first name"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('firstname') }">
                  <has-error :form="form" field="firstname"></has-error>
            </div>
             <div class="form-group">
               <input v-model="form.last_name" type="text" name="lastname" placeholder="Your last name"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('lastname') }">
                  <has-error :form="form" field="lastname"></has-error>
            </div>
             <div class="form-group">
                 <input v-model="form.email" type="email" name="email" placeholder="Your email"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                  <has-error :form="form" field="email"></has-error>
            </div>
             <div class="form-group">
                 <input v-model="form.mobile" type="text" name="mobile" placeholder="Your  mobile"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('mobile') }">
                  <has-error :form="form" field="mobile"></has-error>
            </div>
            <div class="form-group">
                 <input v-model="form.address" type="text" name="address" placeholder="Your address"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                  <has-error :form="form" field="address"></has-error>
            </div>
            <div class="form-group">
                  <input v-model="form.company" type="text" name="company" placeholder="Your company"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('company') }">
                  <has-error :form="form" field="company"></has-error>
            </div>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button @click="updateCustomer(suppliers)" type="submit" class="btn btn-success">Update</button>
            <button @click=" createCustomer()"  type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>
     </div>
  </div>
</template>

<script>
  export default {
    data() {
            return {
               errors: [],
                customers: [],
                form: new form({
                  id :'',
                  first_name:'',
                  last_name:'',
                  email:'',
                  mobile:'',
                  address:'',
                  company:''
                })
            }
        },
        methods: {
          newModal(){
             this.form.reset();
             $('#exampleModal').modal('show');
          },
           myForm() {
                if (!this.form.first_name) {
                  this.errors.push("Firstname required.");
                } if (!this.form.last_name) {
                  this.errors.push("Lastname required.");
                } if (!this.form.email) {
                  this.errors.push("Email required.");
                } if (!this.form.mobile) {
                  this.errors.push("Mobile required.");
                } if (!this.form.address) {
                  this.errors.push("Address required.");
                } if (!this.form.company) {
                  this.errors.push("Company required.");
                } 
                if (!this.errors.length) {
                  return true;
                }
            },
          updateCustomer(customers){
             this.form.post('/customer/update/'+this.form.id)
               .then(()=>{

                    Fire.$emit('AfterCreatedUserLoadIt');

                    $('#exampleModal').modal('hide');
               })
               .catch(()=>{
                  console.log("Error.....")
               })
            },
           editCustomerModel(customers){
                $('#exampleModal').modal('show');
                this.form.fill(customers);
            },
          
           read() {
                axios.get('/customer').then(({ data }) => {
                    this.customers= data;
                })
            },
            createCustomer(){
                this.form.post('/customer/create')
                .then(()=>{
                    $('#exampleModal').modal('hide');
                    //$("#example1").axios.reload();
                    
                })
               
            },
            deleteCustomer(id){
                 axios.delete('/customer/delete/'+id).then(()=>{
                    Fire.$emit('AfterCreate');
                }).catch(()=> {
  
                });
            }
        },
        mounted() {
            this.read();
        }
  }

</script>