<template>
  <div class="container login-container">
            <div class="row">
               <div class="col-md-6">
                  <img src="images/login.jpg" style="width: 100%;height: 500px;">
               </div>
                <div class="col-md-6 login-form-1">
                    <h3>Admin Login</h3>
                    <form @submit.prevent="login">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email *" v-model="post.email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" v-model="post.password"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Forget Password?</a>
                        </div>
                    </form>
                </div>
            
            </div>
        </div>
</template>

<script>
     export default {
        data(){
        return {
          post:{}
        }
    },
    methods: {
      login(){
            let uri = '/login';
            this.axios.post(uri, this.post).then((response) => {
            this.$router.push({name: 'user'});
            window.location.href = '/home';
            });
      }
    }
  }
</script>
