<template>
  <div class="container">
     <div class="row">
         <div class="col-md-12">
            <div class="card">
            <div class="card-header">
              <h2 class="card-title">Suppliers</h2>
              <button class="btn btn-primary btn-md " @click="newModal()" style="float: right;">Creeate Supplier<i class="fas fa-user-plus fa-fw" ></i></button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row"><div class="col-sm-12"><table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Company</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="supplier in suppliers.data" :key="supplier.id">
                      <td>{{ supplier.id }}</td>
                      <td>{{ supplier.first_name }}</td>
                      <td>{{ supplier.last_name }}</td>
                      <td>{{ supplier.email }}</td>
                      <td>{{ supplier.mobile }}</td>
                      <td>{{ supplier.address }}</td>
                      <td>{{ supplier.company }}</td>
                      <td>
                          <a href="#" @click="editSupplierModel(supplier)"><button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button></a>
                          <a href="#" @click="deleteSupplier(supplier.id)"><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></a>
                      </td>
                      
                  </tr>
              </tbody>
             </table>
            </div>
          </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            <pagination :data="suppliers" @pagination-change-page="getResults"></pagination>
            </div>
            <!-- /.card-body -->
      </div>
         </div>

                <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
        <h3 class="modal-title" id="exampleModalLabel">Supplier Form</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="alert alert-danger" role="alert" v-if="errors.length">
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </div>
      <form @submit.prevent="myForm()" action="http://localhost:8000/supplier/create" method="post">
      <div class="modal-body">
            <div class="form-group">
              <input v-model="form.first_name" type="text" name="firstname" placeholder="Your first name"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('firstname') }">
                  <has-error :form="form" field="firstname"></has-error>
            </div>
             <div class="form-group">
               <input v-model="form.last_name" type="text" name="lastname" placeholder="Your last name"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('lastname') }">
                  <has-error :form="form" field="lastname"></has-error>
            </div>
             <div class="form-group">
                 <input v-model="form.email" type="email" name="email" placeholder="Your email"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                  <has-error :form="form" field="email"></has-error>
            </div>
             <div class="form-group">
                 <input v-model="form.mobile" type="text" name="mobile" placeholder="Your  mobile"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('mobile') }">
                  <has-error :form="form" field="mobile"></has-error>
            </div>
            <div class="form-group">
                 <input v-model="form.address" type="text" name="address" placeholder="Your address"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                  <has-error :form="form" field="address"></has-error>
            </div>
            <div class="form-group">
                  <input v-model="form.company" type="text" name="company" placeholder="Your company"
                  class="form-control" :class="{ 'is-invalid': form.errors.has('company') }">
                  <has-error :form="form" field="company"></has-error>
            </div>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button  @click="updateSupplier(suppliers)" type="submit" class="btn btn-success">Update</button>
            <button  @click=" createSupplier()" type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>
     </div>
  </div>
</template>

<script>
  export default {
    data() {
            return {
              errors: [],
                suppliers:{},
                form: new form({
                  id :'',
                  first_name:'',
                  last_name:'',
                  email:'',
                  mobile:'',
                  address:'',
                  company:''
                })
            }
        },
        methods: {
           getResults(page = 1) {
            axios.get('/supplier?page=' + page)
              .then(({ data }) => {
                    //console.log(data)
                    this.suppliers= data;

                })
          },
          myForm() {
                if (!this.form.first_name) {
                  this.errors.push("Firstname required.");
                } if (!this.form.last_name) {
                  this.errors.push("Lastname required.");
                } if (!this.form.email) {
                  this.errors.push("Email required.");
                } if (!this.form.mobile) {
                  this.errors.push("Mobile required.");
                } if (!this.form.address) {
                  this.errors.push("Address required.");
                } if (!this.form.company) {
                  this.errors.push("Company required.");
                } 
                if (!this.errors.length) {
                  return true;
                }
            },
          newModal(){
             this.form.reset();
             $('#exampleModal').modal('show');
          },
          updateSupplier(suppliers){
                 this.form.post('/supplier/update/'+this.form.id)
               .then(()=>{

                    Fire.$emit('AfterCreatedUserLoadIt');

                    $('#exampleModal').modal('hide');
               })
               .catch(()=>{
                  console.log("Error.....")
               })
            },
           editSupplierModel(suppliers){
                $('#exampleModal').modal('show');
                this.form.fill(suppliers);
            },
          
           read() {
                axios.get('/supplier').then(({ data }) => {
                    //console.log(data)
                    this.suppliers= data;

                })
                    .catch((err) => console.error(err));
            },
            createSupplier(){
                this.form.post('supplier/create')
                .then(()=>{
                    $('#exampleModal').modal('hide');
                })
               
            },
            deleteSupplier(id){
                 axios.delete('supplier/delete/'+id).then(()=>{
                    Fire.$emit('AfterCreate');
                }).catch(()=> {
  
                });
            }
        },
        mounted() {
            this.read();
        }
  }

</script>